body {
  background-color: lightblue;
}
.heads {
  color:Red;
}
#dog-pic {
  width:100px;
  float:left;
  marrgin:10px;
}
#dog-sidebar {
  float:right;
  Width:30%;
  margin-left:10px;
  margin-right:10px;
}
    
